@import 'tailwindcss';

@theme {
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.schedule-image-wrapper {
  @apply flex items-center justify-center aspect-square w-full max-h-[300px] p-4;
}

.schedule-image {
  @apply h-auto w-auto max-h-full max-w-full object-contain;
}
